$w-color: #1BC3A9;
$w-color-tint: #80D3C6;
$font-heading: 'Poppins', sans-serif;
$font-body: 'Palanquin Dark', sans-serif;
$body-color: black;
$link-color: $w-color;

//about styling
$bm-size: 250px;
