/* general styling */
a {
  text-decoration: none;
  color: $w-color-tint;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $w-color;
  }
}

.active {
  font-weight: bold;
  color: $w-color;
}

/* nav styling */
nav {
  .container-nav {
    padding-left: 0px;
    display: flex;
    li {
      list-style: none;
      padding: 0 15px;
      font-family: $font-heading;
    }
  }
  .blog {
    flex: 1;
  }
  .container-brand {
    display: flex;
  }
  .logo {
    height: 20px;
    padding-right: 5px;
  }
  .wordmark {
    height: 20px;
  }
}

@media all and (max-width: 400px) {
  .container-nav > li {
    flex-basis: 100%;
  }
  .blog {
    order: 1;
  }
}

/* home styling */

/* footer styling */
footer {
  font-family: $font-heading;
}
.container-body {
  font-family: $font-body;
}

//about styling

.officers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0px;
}

.board-member-box {
  width: $bm-size;
  height: $bm-size;
}

.board-member:hover {
  opacity: 0.3;
  transition: 0.5s ease;
}

.board-member {
  width: auto;
  height: 100%;
  z-index: 1;
}

.bm-description {
  position: absolute;
  z-index: 2;
  display: none;
}