.container-body {
  font-family: 'Scope One', serif;
}

//about styling
.board-member-box {
  width: $bm-size;
  height: $bm-size;
}

.board-member:hover {
  opacity: 0.3;
  transition: 0.5s ease;
}

.board-member {
  width: auto;
  height: 100%;
  z-index: 1;
}

.bm-description {
  position: absolute;
  z-index: 2;
  display: none;
}