<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include header.html %}
  <div class="container-body">
    {{ content }}
    <div class="board-member-box" >
      <div id="mentorship1" class="bm-description"></div>
      <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
    </div>
  </div>
  {% include footer.html %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/about.js"></script>
</body>
</html>