<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include header.html %}
  <div class="container-body">
    {{ content }}

    <!-- PRESIDENT AND VICE PRESIDENT -->

    <div class="officers">
      <div class="board-member-box" >
        President
        <div id="president" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <div class="board-member-box" >
        Vice President
        <div id="vicepresident" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>
    </div>
    
    <!-- OTHER OFFICERS -->

      <!-- MENTORSHIP -->
    <div class="officers">
      <div class="board-member-box" >
        Mentorship Chair
        <div id="mentorship1" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <div class="board-member-box" >
        Mentorship Chair
        <div id="mentorship2" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <!-- EXTERNAL -->
      <div class="board-member-box" >
        External Liaison
        <div id="external1" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>
    </div>

    <div class="officers">

      <div class="board-member-box" >
        External Liaison
        <div id="external2" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <!-- FINANCE -->
      <div class="board-member-box" >
        Finance
        <div id="finance" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <!-- PUBLICITY -->
      <div class="board-member-box" >
        Publicity
        <div id="publicity" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>
    </div>

      <!-- DISTINGUISHED SPEAKER SERIES -->

    <div class="officers">

      <div class="board-member-box" >
        Distinguished Speaker Chair
        <div id="dss1" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <div class="board-member-box" >
        Distinguished Speaker Chair
        <div id="dss2" class="bm-description"></div>
        <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

      <!-- WESP -->
      <div class="board-member-box" >
        WESP Chair
          <div id="wesp" class="bm-description"></div>
          <img class="board-member" src="../assets/images/mentor_chair_1.jpg" />
      </div>

    </div>
  </div>

  {% include footer.html %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/about.js"></script>
</body>
</html>