<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include header.html %}
  <div class="container-body">
    {{ content }}

    <!-- PRESIDENT AND VICE PRESIDENT -->

    <div class="officers">
      <div class="board-member-box" >
        President
        <div id="president-desc" class="bm-description"></div>
        <img id="president" class="board-member" src="../assets/images/president.jpg" />
      </div>

      <div class="board-member-box" >
        Vice President
        <div id="vp-desc" class="bm-description"></div>
        <img id="vicepresident" class="board-member" src="../assets/images/vicepresident.jpg" />
      </div>
    </div>
    
    <!-- OTHER OFFICERS -->

      <!-- MENTORSHIP -->
    <div class="officers">
      <div class="board-member-box" >
        Mentorship Chair
        <div id="m1-desc" class="bm-description"></div>
        <img id="mentorship1" class="board-member" src="../assets/images/mentorship1.jpg" />
      </div>

      <div class="board-member-box" >
        Mentorship Chair
        <div id="m2-desc" class="bm-description"></div>
        <img id="mentorship2" class="board-member" src="../assets/images/mentorship2.jpg" />
      </div>

      <!-- EXTERNAL -->
      <div class="board-member-box" >
        External Liaison
        <div id="e1-desc" class="bm-description"></div>
        <img id="external1" class="board-member" src="../assets/images/external1.jpg" />
      </div>
    </div>

    <div class="officers">

      <div class="board-member-box" >
        External Liaison
        <div id="e2-desc" class="bm-description"></div>
        <img id="external2" class="board-member" src="../assets/images/external2.jpg" />
      </div>

      <!-- FINANCE -->
      <div class="board-member-box" >
        Finance
        <div id="finance-desc" class="bm-description"></div>
        <img id="finance" class="board-member" src="../assets/images/finance.jpg" />
      </div>

      <!-- PUBLICITY -->
      <div class="board-member-box" >
        Publicity
        <div id="pub-desc" class="bm-description"></div>
        <img id="publicity" class="board-member" src="../assets/images/publicity.jpg" />
      </div>
    </div>

      <!-- DISTINGUISHED SPEAKER SERIES -->

    <div class="officers">

      <div class="board-member-box" >
        Distinguished Speaker Chair
        <div id="dss1-desc" class="bm-description"></div>
        <img id="dss1" class="board-member" src="../assets/images/dss1.jpg" />
      </div>

      <div class="board-member-box" >
        Distinguished Speaker Chair
        <div id="dss2-desc" class="bm-description"></div>
        <img id="dss2" class="board-member" src="../assets/images/dss2.jpg" />
      </div>

      <!-- WESP -->
      <div class="board-member-box" >
        WESP Chair
          <div id="wesp-desc" class="bm-description"></div>
          <img id="wesp" class="board-member" src="../assets/images/wesp.jpg" />
      </div>

    </div>
  </div>

  {% include footer.html %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/about.js"></script>
</body>
</html>